.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0, auto;
}

.decks li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 0px;
  right: 0px;
}
